/*

#Everything will be ignored but the following files/directories
!compton
!firefox
!.git
!.gitmodules
!i3
!init_scripts
!kitty
!packagelists
!polybar
!protonmailStyling
!ranger
!README.md
!rofi
!sudo
!termite
!.vim
!viminit.sh
!.vimrc
!Xorg
!gtk-3.0
!z
!util_scripts
