# These should always be ignored
vim/.vim/view/
vim/.vim/.viminf*
vim/.vim/plugged
.netrwhist
*fishd.**
*zcompdump*
zsh/.config/zsh/.zsh_sessions

# device specific configs
.device.zshrc
device.init.lua
