[submodule ".vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule ".vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-polyglot"]
	path = vim/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/bundle/vim-css-color"]
	path = vim/.vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule ".vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "polybar/polybar-spotify"]
	path = polybar/polybar-spotify
	url = https://github.com/Jvanrhijn/polybar-spotify
[submodule ".vim/bundle/AutoComplPop"]
	path = vim/.vim/bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop
[submodule ".vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "z"]
	path = z
	url = https://github.com/rupa/z/
[submodule ".vim/bundle/terminus"]
	path = vim/.vim/bundle/terminus
	url = https://github.com/wincent/terminus
[submodule "vim/.vim/bundle/emmet-vim"]
	path = vim/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim/.vim/bundle/--force"]
	path = vim/.vim/bundle/--force
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/.vim/bundle/vim-test"]
	path = vim/.vim/bundle/vim-test
	url = https://github.com/janko/vim-test
