/*

#Everything will be ignored but the following files/directories
!compton
!firefox
!.git
!.gitmodules
!i3
!kitty
!packagelists
!polybar
!protonmailStyling
!ranger
!README.md
!rofi
!sudo
!termite
!Xorg
!gtk-3.0/settings.ini
!z
!scripts
!bash
!dunst
!vim
!tmux
!sxhkd
!modprobe.d
!git
!alacritty
!inputrc
!ctags

# These should always be ignored
vim/.vim/view/
vim/.vim/.viminf*
vim/.vim/plugged
