[submodule "polybar/polybar-spotify"]
	path = polybar/.config/polybar/polybar-spotify
	url = https://github.com/Jvanrhijn/polybar-spotify
[submodule "z"]
	path = z
	url = https://github.com/rupa/z/
[submodule "oh-my-zsh"]
	path = zsh/.config/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.config/zsh/plugins/fzf-tab"]
	path = zsh/.config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
