#pm_main{
 background-color:#1f1f1f;
}

.pm_button{
 color:#00979a;
}

#ptSidebar{
 background-color:#000000;
}

.headerSecured-container{
 background:#000000;
 color:#00979a;
}

.active, .active span{
 color:#00ff88 !important;
 background-color:#1f1f1f !important;
}

.sidebarApp-link{
 color:#00979a !important;
}

.conversation.read{
 background:#000000;
 color:#00979a !important;
}

.conversation:not(.read){
 background-color:#1f1f1f;
 color:#0057ff;
}

.conversation:not(.read) .subject{
 color:#0057ff;
}

#conversationHeader span{
 color:#00ff88;
}

.navigationItem-title{
 color:#00979a;
}

